
.toast-container {
    font-size: 0.875rem;
    position: fixed;
    z-index: 4;
    bottom: 0;
    right: 0;
  }
  
  
  .toast-notification {
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    bottom: 1rem;
    right: 1rem;
    height: 3.125rem;
    width: 22.813rem;
    color: var(--color-white);
    padding: 1.25rem 0.938rem 0.625rem 0.625rem;
    box-shadow: 0 0 0.625rem var(--color-grey-dark);
    animation: toast-in-right .7s;
    opacity: 0.9;
    transition: .3s ease;
  }
  
  .toast-notification:hover {
    box-shadow: 0 0 0.75rem var(--color-white);
    opacity: 1;
  }

  
  .toast-container button {
    float: right;
    background: none;
    border: none;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
  }
  
  
  .toast-description {
    margin: 0;
    text-align: left;
  }
  
  @keyframes toast-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }